
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col mt-40">
        <div [routerLink]="'/'" class='flex justify-center items-center flex-shrink-0 font-semibold  text-3xl cursor-pointer' >
                <h1 class='italic pr-1'>
                  Trainer
                </h1>
                <span class="bg-red-600 text-white rounded-md pl-1.5 pr-1.5 "> sign-in </span>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-4">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
            Username
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
          <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" placeholder="******************">
          <p class="text-red text-xs italic"></p>
        </div>
        <div class="text-center">
                <button type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Sign In!</button>
                
         </div>
   <div class="flex items-center justify-between">
          <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
            
          </a>
        </div>
      </form>
    </div>


