<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../signup/signup.component.css">
    <title>Document</title>
</head>

<body>
    <input type="checkbox" id="check">
    <!-- <label for="check">
        <input type="button" id="btn" value="a">
        <input type="button" id="cancel" value="b">
    </label> -->
        <div class="sidebar-background-image"></div>
        <div class="form">
            <header>Sign-Up</header>
            <form id="contact-form" action="script.php" method="post">
                <ul>
                    <li><label for="name">Username:</label> <input type="text" name="username" id="username" value="" />
                    <li><label for="pwd">Password:</label> <input type="password" name="pwd" id="pwd" value="" /></li>
                    <li><input type="submit" value="submit" /></li>
                </ul>
            </form>
        </div>
</body>

</html>