<div class="flex justify-center items-center mt-28">
  <div class="grid grid-cols-6 gap-0 font-semibold border-4 p-2 border-red-600 ">
    <div
      *ngFor="let location of locations; let boxIndex = index;"
      appPokemonSwap
      [elemPosition]="boxIndex"
      [list]="locations"
      (click)="setActiveIndex(boxIndex)"
      [class.outline]="activeIndex==boxIndex"
      (returnUpdatedList)="updateLocations($event)"
      class="h-24 w-24 rounded-md outline-orange-500"

    >
      <div *ngIf="location!==0">
        <img 
          src={{location.sprite}}
          draggable="true"
        >
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center items-center">
  <button routerLink="/catch" class="mt-4 bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
    Catch
  </button> 
</div>

